{% extends "base.html"%}
{%load crispy_forms_tags %} 

{% load static %}

{% block body_content %}
<br>

<h1 style="color: blue; text-align: center;" >you have following plan:</h1>
<br>


{% if user.is_authenticated %}

{% if info.is_approved %}
<p> </p>
<table class="table table-hover table-dark">
     <thead>
       <tr>
         <th scope="col">Name</th>
         <th scope="col">Plan Name</th>
         <th scope="col">Plan Amount</th>
         <th scope="col">InitialAmount</th>
         <th scope="col">DueAmount</th>
         <th scope="col">Delete</th>


       </tr>
     </thead>
     <tbody>
       <tr>
         <th scope="row">{{user.full_name}}</th>
         <td>{{plan.name}}</td>
         <td>{{plan.amount}}</td>
         <td>{{info.initialamount}}</td>
         <td>Rs:- {{due_amount}}</td>
         <td class="d-flex justify-content-between">
          <a href="{% url 'gym:delete' info.id %}"><i class="text-danger">delete</i></a>
          </td>




        
       </tr>
     </tbody>
   </table>

{% else %}
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      
      
      
      <th scope="col">Status</th>
      <th scope="col">Action</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{user.full_name}}</th>
     
      <td>Not approved yet</td>
      <td class="d-flex justify-content-between">
        <a href="{% url 'gym:memberupdate' info.pk %}"><i class="text-danger">Update</i></a>
        
       <a href="{% url 'gym:delete' info.id %}"><i class="text-danger">delete</i></a>
       </td>




     
    </tr>
  </tbody>
</table>

{% endif %}




{% endif %}
<br>
{% endblock %}
