{% extends "base.html"%}


{% load static %}

{% block body_content %}

  

  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="wrapper">
            <h1>give vent <span>to</span> emotions</h1>
            <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Maxime unde quos minus rem et vero similique tempora rerum. 
              Ipsum aliquid quos laudantium minima repudiandae sapiente doloremque! 
              Porro culpa exercitationem et!</h5>
              <a>Join the force</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-01">
    <div class="wrapper d-flex">
      <div class="left-side">
       <h2>32%
         <span>Discount</span>
       </h2>
       <a>Play Now</a>
      </div>
      <div class="right-side d-flex">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="content">
                <h3>Beginnner</h3>
                <span>$20</span>
                <p>Lorem ipsum dolor sit amet consectetur 
                  adipisicing elit. Deserunt reiciendis blanditiis
                  eligendi unde, accusantium soluta totam laudantium 
                  reprehenderit perspiciatis nulla quidem! Rem pariatur 
                  consequatur soluta atque ipsum aperiam! Et, praesentium!</p>
                  <a>Read More<i class="fal fa-arrow-right"></i></a>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="content">
                <h3>Advanced</h3>
                <span>$30</span>
                <p>Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Deserunt reiciendis blanditiis
                  eligendi unde, accusantium soluta totam laudantium
                  reprehenderit perspiciatis nulla quidem! Rem pariatur
                  consequatur soluta atque ipsum aperiam! Et, praesentium!</p>
                <a>Read More<i class="fal fa-arrow-right"></i></a>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="content">
                <h3>Warrior</h3>
                <span>$40</span>
                <p>Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Deserunt reiciendis blanditiis
                  eligendi unde, accusantium soluta totam laudantium
                  reprehenderit perspiciatis nulla quidem! Rem pariatur
                  consequatur soluta atque ipsum aperiam! Et, praesentium!</p>
                <a>Read More<i class="fal fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-03">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
            <h2>Our Populer Classes</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              Unde, id eos? Eaque, distinctio nisi. Cum dolorem, obcaecati 
              eos officiis, voluptate deserunt quasi quibusdam reprehenderit 
              voluptatum eius commodi illo exercitationem asperiores.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="wrapper">
            <div class="image">
              <img src="{% static 'images/class/1.jpg' %}">
              <div class="inner-link">
                <a>Duration-20 Minuteus</a>
              </div>
            </div>
            <div class="content">
              <h4>BodyBuildind Program</h4>
              <span>Coach Shame Demo</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Autem mollitia labore perferendis officia dolorum in tempore</p>
                <a>Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="wrapper">
            <div class="image">
              <img src="{% static 'images/class/2.jpg' %}">
              <div class="inner-link">
                <a>Duration-20 Minuteus</a>
              </div>
            </div>
            <div class="content">
              <h4>BodyBuildind Program</h4>
              <span>Coach Shame Demo</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Autem mollitia labore perferendis officia dolorum in tempore</p>
              <a>Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="wrapper">
            <div class="image">
              <img src="{% static 'images/class/3.jpg' %}">
              <div class="inner-link">
                <a>Duration-20 Minuteus</a>
              </div>
            </div>
            <div class="content">
              <h4>BodyBuildind Program</h4>
              <span>Coach Shame Demo</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Autem mollitia labore perferendis officia dolorum in tempore</p>
              <a>Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="wrapper">
            <div class="image">
              <img src="{% static 'images/class/4.jpg' %}">
              <div class="inner-link">
                <a>Duration-20 Minuteus</a>
              </div>
            </div>
            <div class="content">
              <h4>BodyBuildind Program</h4>
              <span>Coach Shame Demo</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Autem mollitia labore perferendis officia dolorum in tempore</p>
              <a>Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-04">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
            <h2>Our Trainer</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="team-wrapper">
            <div class="image">
              <img src="{% static 'images/team/1.jpg' %}">
            </div>
            <div class="content">
              <h4>Daniel</h4>
              <span>Coach</span>
              <ul>
                <li><i class="fab fa-facebook-f"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-pinterest-p"></i></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="team-wrapper">
            <div class="image">
              <img src="{% static 'images/team/2.jpg' %}">
            </div>
            <div class="content">
              <h4>Bella</h4>
              <span>Coach</span>
              <ul>
                <li><i class="fab fa-facebook-f"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-pinterest-p"></i></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="team-wrapper">
            <div class="image">
              <img src="{% static 'images/team/3.jpg' %}">
            </div>
            <div class="content">
              <h4>Romeo</h4>
              <span>Coach</span>
              <ul>
                <li><i class="fab fa-facebook-f"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-pinterest-p"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-05">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h2>subscribe to our newslaetter! we promice not to spam</h2>
            <ul>
              <li>
                <div class="form-group">
                  <input class="form-control" role="text" name="Name" placeholder="Enter Your Name">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input class="form-control" role="text" name="email" placeholder="Enter Your Email">
                </div>
              </li>
              <li>
                <a href="#">subscribe</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-06">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="wrapper">
            <ul>
              <li>
                <i class="fal fa-play-circle"></i>
                <strong class="text-uppercase">Explore life fitness</strong>
                <a>Training Vide</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-07">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
            <h2>Latest News</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="wrapper">
            <div class="image">
              <img src="{% static 'images/blog/1.jpg' %}">
              <div class="inner-link">
                <a>Sports</a>
              </div>
            </div>
            <div class="content">
              <h4>Body Building Program</h4>
              <ul>
                <li><i class="far fa-user"></i> By Admin</li>
                <li><i class="fal fa-calendar-alt"></i>9-28-2020</li>
              </ul>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Autem mollitia labore perferendis officia dolorum in tempore</p>
              <a>Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="wrapper">
            <div class="image">
              <img src="{% static 'images/blog/2.jpg' %}">
              <div class="inner-link">
                <a>Sports</a>
              </div>
            </div>
            <div class="content">
              <h4>Body Building Program</h4>
              <ul>
                <li><i class="far fa-user"></i> By Admin</li>
                <li><i class="fal fa-calendar-alt"></i>9-28-2020</li>
              </ul>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Autem mollitia labore perferendis officia dolorum in tempore</p>
              <a>Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="wrapper">
            <div class="image">
              <img src="{% static 'images/blog/3.jpg' %}">
              <div class="inner-link">
                <a>Sports</a>
              </div>
            </div>
            <div class="content">
              <h4>Body Building Program</h4>
              <ul>
                <li><i class="far fa-user"></i> By Admin</li>
                <li><i class="fal fa-calendar-alt"></i>9-28-2020</li>
              </ul>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Autem mollitia labore perferendis officia dolorum in tempore</p>
              <a>Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}


