{% extends "base.html"%}


{% load static %}

{% block body_content %}

  <style>
    .a{
		max-width: 200px;
		max-height:300px;
		margin: 0 auto;
		
	}
    .container1{
      display: flex;
      
    }
  </style>

  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="wrapper">
            <h1>give vent <span>to</span> emotions</h1>
            <h5>A good gym involves more than just the right exercise equipment. 
              You need to think of the type of clientele you’ll be serving,
               membership and subscription fees, hosting fitness classes,
                and finding new ways to differentiate your fitness center
                 from the competition. The best way to plan all this out
               and leverage your strengths is by starting off with a business plan.</h5>
              <a>Join the force</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-01">
    <div class="wrapper d-flex">
      <div class="left-side">
       <h2>32%
         <span>Discount</span>
       </h2>
       <a>Play Now</a>
      </div>
      <div class="right-side d-flex">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="content">
                <h3>Beginnner</h3>
                <span>$20</span>
                <p>f you need a bit of inspiration check out or
                   gym sample plans for fitness centers, corporate fitness,
                    gyms, health clubs, as well as martial arts studios, gymnastics schools, 
                  and a number of other athletics businesses.</p>
                  <a>Read More<i class="fal fa-arrow-right"></i></a>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="content">
                <h3>Advanced</h3>
                <span>$30</span>
                <p>If you’re looking to develop a more modern business plan,
                   we recommend you try LivePlan. It contains the same
                    templates and information you see here, but with additional
                   guidance to help you develop the perfect plan.</p>
                <a>Read More<i class="fal fa-arrow-right"></i></a>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="content">
                <h3>Warrior</h3>
                <span>$40</span>
                <p>At Corporate Fitness, we tie worker productivity directly
                   to the health care issue. We believe that traditional approaches
                    to the current health care crisis are misdirected. These traditional 
                    efforts are what we call reactive–that is, they wait until after the worker
                     has been stricken with illness or injury,
                   and then pay for the necessary treatments.</p>
                <a>Read More<i class="fal fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container" style="margin-top:60px">
    
    <br><br><br>
    <div class="row">
        <div class="col-sm-3 text-center mydivstyle">
            <h2 style="color: blue;">{{e1}}</h2>
            <h4 style="color:black;">Enquiry</h4>
            <hr class="rounded">
        </div>
        <div class="col-sm-3 text-center mydivstyle">
            <h2 style="color: blue;">{{p1}}</h2>
            <h4 style="color:black;">Plan</h4>
            <hr class="rounded">
        </div>
        <div class="col-sm-3 text-center mydivstyle">
            <h2 style="color: blue;">{{eq1}}</h2>
            <h4 style="color:black;">Equipment</h4>
            <hr class="rounded">
        </div>
        <div class="col-sm-3 text-center mydivstyle">
            <h2 style="color: blue;">{{m1}}</h2>
            <h4 style="color:black;">Member</h4>
            <hr class="rounded">
        </div>
    </div>
</div>

  <section class="bg-03">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
            <h2>Our Populer Classes</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              Unde, id eos? Eaque, distinctio nisi. Cum dolorem, obcaecati 
              eos officiis, voluptate deserunt quasi quibusdam reprehenderit 
              voluptatum eius commodi illo exercitationem asperiores.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="wrapper">
            <div class="image">
              <img src="{% static 'images/class/1.jpg' %}">
              <div class="inner-link">
                <a>Duration-20 Minuteus</a>
              </div>
            </div>
            <div class="content">
              <h4>BodyBuildind Program</h4>
              <span>Coach Shame Demo</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Autem mollitia labore perferendis officia dolorum in tempore</p>
                <a>Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="wrapper">
            <div class="image">
              <img src="{% static 'images/class/2.jpg' %}">
              <div class="inner-link">
                <a>Duration-20 Minuteus</a>
              </div>
            </div>
            <div class="content">
              <h4>BodyBuildind Program</h4>
              <span>Coach Shame Demo</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Autem mollitia labore perferendis officia dolorum in tempore</p>
              <a>Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="wrapper">
            <div class="image">
              <img src="{% static 'images/class/3.jpg' %}">
              <div class="inner-link">
                <a>Duration-20 Minuteus</a>
              </div>
            </div>
            <div class="content">
              <h4>BodyBuildind Program</h4>
              <span>Coach Shame Demo</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Autem mollitia labore perferendis officia dolorum in tempore</p>
              <a>Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="wrapper">
            <div class="image">
              <img src="{% static 'images/class/4.jpg' %}">
              <div class="inner-link">
                <a>Duration-20 Minuteus</a>
              </div>
            </div>
            <div class="content">
              <h4>BodyBuildind Program</h4>
              <span>Coach Shame Demo</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Autem mollitia labore perferendis officia dolorum in tempore</p>
              <a>Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-04">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
            <h2>Our Trainer</h2>
          </div>
        </div>
      </div>
     
      <div class="container1">
        {% for trainer in trainers %} 
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="team-wrapper">
            <div class="a">
              <img  src="{{trainer.user.image.url}}">
            </div>
            
            <div class="content">
              <a href="{% url 'gym:trainerdetail' trainer.id %}"><h4 style="text-transform: uppercase">{{ trainer.user.full_name }}</h4></a>
              <span style="text-transform: uppercase">{{trainer.department}}</span>
            
            </div>
          </div>
        </div>
      {% endfor %} 

      
      
      </div>
    
    </div>
    </div>
  </section>

 
  <section class="bg-06">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="wrapper">
            <ul>
              <li>
                <i class="fal fa-play-circle"></i>
                <strong class="text-uppercase">Explore life fitness</strong>
                <a>Training Vide</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-07">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
            <h2>Latest News</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="wrapper">
            <div class="image">
              <img src="{% static 'images/blog/1.jpg' %}">
              <div class="inner-link">
                <a>Sports</a>
              </div>
            </div>
            <div class="content">
              <h4>Body Building Program</h4>
              <ul>
                <li><i class="far fa-user"></i> By Admin</li>
                <li><i class="fal fa-calendar-alt"></i>9-28-2020</li>
              </ul>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Autem mollitia labore perferendis officia dolorum in tempore</p>
              <a>Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="wrapper">
            <div class="image">
              <img src="{% static 'images/blog/2.jpg' %}">
              <div class="inner-link">
                <a>Sports</a>
              </div>
            </div>
            <div class="content">
              <h4>Body Building Program</h4>
              <ul>
                <li><i class="far fa-user"></i> By Admin</li>
                <li><i class="fal fa-calendar-alt"></i>9-28-2020</li>
              </ul>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Autem mollitia labore perferendis officia dolorum in tempore</p>
              <a>Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="wrapper">
            <div class="image">
              <img src="{% static 'images/blog/3.jpg' %}">
              <div class="inner-link">
                <a>Sports</a>
              </div>
            </div>
            <div class="content">
              <h4>Body Building Program</h4>
              <ul>
                <li><i class="far fa-user"></i> By Admin</li>
                <li><i class="fal fa-calendar-alt"></i>9-28-2020</li>
              </ul>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Autem mollitia labore perferendis officia dolorum in tempore</p>
              <a>Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}


