{% extends "base.html"%}

{% load static %}

{% block body_content %}


  <section class="abt-01">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="wrapper">
                      <h2>Services</h2>
                      <ul>
                          <li>Home<i class="far fa-angle-double-right"></i></li>
                          <li>services</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>



  <section class="bg-05">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h2>subscribe to our newslaetter! we promice not to spam</h2>
            <ul>
              <li>
                <div class="form-group">
                  <input class="form-control" role="text" name="Name" placeholder="Enter Your Name">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input class="form-control" role="text" name="email" placeholder="Enter Your Email">
                </div>
              </li>
              <li>
                <a href="#">subscribe</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-06">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="wrapper">
            <ul>
              <li>
                <i class="fal fa-play-circle"></i>
                <strong class="text-uppercase">Explore life fitness</strong>
                <a>Training Vide</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  {% endblock %}