{% extends "base.html"%}
{%load crispy_forms_tags %} 

{% load static %}

{% block body_content %}
<br>

<h1 style="color: blue; text-align: center;" >you have following plan:</h1>
<br>





<table id="example" class="table table-hover" >
     <thead>
       <tr>
        <th scope="col">SN</th>
         <th scope="col">Name</th>
         <th scope="col">Date_of_birth</th>
         <th scope="col">Gender</th>
         <th scope="col">Trainer</th>
         <th scope="col">plan</th>
         <th scope="col">joindate</th>
         <th scope="col">expiredate</th>
         


       </tr>
     </thead>
     <tbody>
      
  
        {% for info in infos %}
        {% if info.is_approved %}
        
        
        


       <tr>
        <th scope="row">{{forloop.counter}}</th>
         <th scope="row">{{info.user.full_name}}</th>
         
         <td>{{info.date_of_birth}}</td>
         <td>{{info.gender}}</td>
         <td>{{info.trainer}}</td>
         
         <td>{{info.plan}}</td>
         
         
         

         <td>{{info.joindate}}</td>
         <td>{{info.expiredate}}</td>
        

        




        
       </tr>
     </tbody>
     {% endif %}
   
   {% endfor %}
   


   </table>
   {% endblock %}