{% load static %}
<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
          <div class="footer-content">
            <img src="{% static 'logo.png' %}" alt="">
            
            <ul>
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-google"></i></li>
              <li><i class="fab fa-skype"></i></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
          <div class="footer-content">
            <h2>Quick Links</h2>
            <ol>
              <li><a href="{% url 'gym:home' %}"><i class="fal fa-angle-double-right"></i>Home</a></li>
             
            </ol>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
          <div class="footer-content">
            <h2>Classes</h2>
            <ol>
              
              <li><a href="{% url 'gym:contact' %}"><i class="fal fa-angle-double-right"></i>Contact Us</a></li>
            </ol>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
         
        </div>
      </div>
    </div>
    <div class="copy-right">
      <div class="container">
        <div class="copy-right-card">
          <p>© 2022 <a href="https://www.facebook.com/missionghimirey/">Mission ghimire.</a> All Rights Reserved | Privacy Policy</p>
        </div>
      </div>
    </div>
  </footer>
